In [1]:
import requests, json
import sqlite3
%load_ext sql

In [3]:
url = 'https://tradestie.com/api/v1/apps/reddit?date=2022-04-03'
response = requests.get(url).text

In [4]:
json.loads(response)

[{'no_of_comments': 131,
  'sentiment': 'Bullish',
  'sentiment_score': 0.01,
  'ticker': 'GME'},
 {'no_of_comments': 90,
  'sentiment': 'Bullish',
  'sentiment_score': 0.039,
  'ticker': 'AMC'},
 {'no_of_comments': 25,
  'sentiment': 'Bullish',
  'sentiment_score': 0.053,
  'ticker': 'TSLA'},
 {'no_of_comments': 21,
  'sentiment': 'Bullish',
  'sentiment_score': 0.442,
  'ticker': 'WISH'},
 {'no_of_comments': 12,
  'sentiment': 'Bearish',
  'sentiment_score': -0.061,
  'ticker': 'QQQ'},
 {'no_of_comments': 10,
  'sentiment': 'Bullish',
  'sentiment_score': 0.104,
  'ticker': 'TV'},
 {'no_of_comments': 9,
  'sentiment': 'Bullish',
  'sentiment_score': 0.014,
  'ticker': 'HMHC'},
 {'no_of_comments': 8,
  'sentiment': 'Bullish',
  'sentiment_score': 0.166,
  'ticker': 'PAA'},
 {'no_of_comments': 6,
  'sentiment': 'Bullish',
  'sentiment_score': 0.095,
  'ticker': 'OXY'},
 {'no_of_comments': 6,
  'sentiment': 'Bullish',
  'sentiment_score': 0.091,
  'ticker': 'AA'},
 {'no_of_comments': 5,
  'sentiment': 'Bullish',
  'sentiment_score': 0.525,
  'ticker': 'NFLX'},
 {'no_of_comments': 5,
  'sentiment': 'Bearish',
  'sentiment_score': -0.182,
  'ticker': 'AMD'},
 {'no_of_comments': 5,
  'sentiment': 'Bearish',
  'sentiment_score': -0.398,
  'ticker': 'ONE'},
 {'no_of_comments': 5,
  'sentiment': 'Bullish',
  'sentiment_score': 0.119,
  'ticker': 'BABA'},
 {'no_of_comments': 4,
  'sentiment': 'Bullish',
  'sentiment_score': 0.279,
  'ticker': 'EV'},
 {'no_of_comments': 4,
  'sentiment': 'Bearish',
  'sentiment_score': -0.26,
  'ticker': 'TA'},
 {'no_of_comments': 4,
  'sentiment': 'Bearish',
  'sentiment_score': -0.212,
  'ticker': 'PLTR'},
 {'no_of_comments': 3,
  'sentiment': 'Bullish',
  'sentiment_score': 0.137,
  'ticker': 'ET'},
 {'no_of_comments': 3,
  'sentiment': 'Bearish',
  'sentiment_score': -0.137,
  'ticker': 'BY'},
 {'no_of_comments': 3,
  'sentiment': 'Bullish',
  'sentiment_score': 0.379,
  'ticker': 'NVDA'},
 {'no_of_comments': 3,
  'sentiment': None,
  'sentiment_score': None,
  'ticker': 'TLRY'},
 {'no_of_comments': 3,
  'sentiment': 'Bearish',
  'sentiment_score': -0.099,
  'ticker': 'ST'},
 {'no_of_comments': 3,
  'sentiment': 'Bearish',
  'sentiment_score': -0.246,
  'ticker': 'GM'},
 {'no_of_comments': 3,
  'sentiment': 'Bearish',
  'sentiment_score': -0.212,
  'ticker': 'CLOV'},
 {'no_of_comments': 3,
  'sentiment': 'Bullish',
  'sentiment_score': 0.215,
  'ticker': 'IRS'},
 {'no_of_comments': 3,
  'sentiment': 'Bearish',
  'sentiment_score': -0.183,
  'ticker': 'ON'},
 {'no_of_comments': 3,
  'sentiment': 'Bullish',
  'sentiment_score': 0.036,
  'ticker': 'DTE'},
 {'no_of_comments': 3,
  'sentiment': 'Bearish',
  'sentiment_score': -0.043,
  'ticker': 'ZIM'},
 {'no_of_comments': 3,
  'sentiment': 'Bullish',
  'sentiment_score': 0.547,
  'ticker': 'FF'},
 {'no_of_comments': 3,
  'sentiment': 'Bearish',
  'sentiment_score': -0.208,
  'ticker': 'SNDL'},
 {'no_of_comments': 2,
  'sentiment': 'Bullish',
  'sentiment_score': 0.615,
  'ticker': 'RC'},
 {'no_of_comments': 2,
  'sentiment': 'Bullish',
  'sentiment_score': 0.808,
  'ticker': 'FSD'},
 {'no_of_comments': 2,
  'sentiment': 'Bearish',
  'sentiment_score': 0.0,
  'ticker': 'VEON'},
 {'no_of_comments': 2,
  'sentiment': 'Bullish',
  'sentiment_score': 0.539,
  'ticker': 'NIO'},
 {'no_of_comments': 2,
  'sentiment': 'Bullish',
  'sentiment_score': 0.211,
  'ticker': 'TDS'},
 {'no_of_comments': 2,
  'sentiment': 'Bearish',
  'sentiment_score': -0.518,
  'ticker': 'MD'},
 {'no_of_comments': 2,
  'sentiment': 'Bullish',
  'sentiment_score': 0.296,
  'ticker': 'UI'},
 {'no_of_comments': 2,
  'sentiment': 'Bullish',
  'sentiment_score': 0.447,
  'ticker': 'HA'},
 {'no_of_comments': 2,
  'sentiment': 'Bearish',
  'sentiment_score': -0.172,
  'ticker': 'IRL'},
 {'no_of_comments': 2,
  'sentiment': 'Bullish',
  'sentiment_score': 0.477,
  'ticker': 'ETH'},
 {'no_of_comments': 2,
  'sentiment': 'Bullish',
  'sentiment_score': 0.7,
  'ticker': 'MRO'},
 {'no_of_comments': 2,
  'sentiment': 'Bullish',
  'sentiment_score': 0.113,
  'ticker': 'AMZN'},
 {'no_of_comments': 2,
  'sentiment': 'Bullish',
  'sentiment_score': 0.834,
  'ticker': 'NH'},
 {'no_of_comments': 2,
  'sentiment': 'Bullish',
  'sentiment_score': 0.162,
  'ticker': 'IP'},
 {'no_of_comments': 2,
  'sentiment': 'Bullish',
  'sentiment_score': 0.058,
  'ticker': 'MSM'},
 {'no_of_comments': 2,
  'sentiment': 'Bearish',
  'sentiment_score': -0.691,
  'ticker': 'GOOGL'},
 {'no_of_comments': 2,
  'sentiment': 'Bullish',
  'sentiment_score': 0.404,
  'ticker': 'WTI'},
 {'no_of_comments': 2,
  'sentiment': 'Bullish',
  'sentiment_score': 0.306,
  'ticker': 'NOK'},
 {'no_of_comments': 1,
  'sentiment': 'Bullish',
  'sentiment_score': 0.523,
  'ticker': 'BOX'},
 {'no_of_comments': 1,
  'sentiment': 'Bullish',
  'sentiment_score': 0.637,
  'ticker': 'BEST'}]

In [5]:
data = json.loads(response)

In [6]:
conn = sqlite3.connect('stockcm.db')
cur = conn.cursor()

In [7]:
data[0].keys()

dict_keys(['no_of_comments', 'sentiment', 'sentiment_score', 'ticker'])

In [8]:
cur.execute('''CREATE TABLE STOCKCM (
    no_of_comments INTEGER,
    sentiment VARCHAR,
    sentiment_score DOUBLE,
    ticker VARCHAR
)''')

In [9]:
query = 'INSERT INTO STOCKCM VALUES(?,?,?,?)'
for i in data:
    cur.execute(query, (i['no_of_comments'], i['sentiment'], i['sentiment_score'], i['ticker']))
conn.commit()

In [10]:
%sql sqlite:///stockcm.db

In [11]:
%%sql
SELECT * FROM STOCKCM LIMIT 10;

 * sqlite:///stockcm.db
Done.

[(131, 'Bullish', 0.01, 'GME'),
 (90, 'Bullish', 0.039, 'AMC'),
 (25, 'Bullish', 0.053, 'TSLA'),
 (21, 'Bullish', 0.442, 'WISH'),
 (12, 'Bearish', -0.061, 'QQQ'),
 (10, 'Bullish', 0.104, 'TV'),
 (9, 'Bullish', 0.014, 'HMHC'),
 (8, 'Bullish', 0.166, 'PAA'),
 (6, 'Bullish', 0.095, 'OXY'),
 (6, 'Bullish', 0.091, 'AA')]

In [ ]:
%%sql
SELECT COUNT(*) FROM STOCKCM;

 * sqlite:///stockcm.db
Done.

[(50,)]

In [12]:
%%sql
SELECT sentiment, count(*)
FROM STOCKCM
GROUP BY sentiment;

 * sqlite:///stockcm.db
Done.

[(None, 1), ('Bearish', 16), ('Bullish', 33)]

In [16]:
%%sql
DELETE FROM STOCKCM
WHERE sentiment IS NULL;

 * sqlite:///stockcm.db
1 rows affected.

[]

In [22]:
%%sql
SELECT sentiment, ROUND(avg(sentiment_score), 2) AVERAGE_SCORE
FROM STOCKCM
GROUP BY sentiment;

 * sqlite:///stockcm.db
Done.

[('Bearish', -0.23), ('Bullish', 0.31)]

In [23]:
%%sql

SELECT SUM(no_of_comments)
FROM STOCKCM
WHERE sentiment = 'Bearish'

 * sqlite:///stockcm.db
Done.

[(59,)]

In [25]:
%%sql
SELECT * FROM STOCKCM
WHERE sentiment_score = (SELECT MAX(sentiment_score) FROM STOCKCM);

 * sqlite:///stockcm.db
Done.

[(2, 'Bullish', 0.834, 'NH')]

In [30]:
%%sql
SELECT sentiment, COUNT(ticker)
FROM STOCKCM
GROUP BY sentiment
HAVING no_of_comments > 5 ORDER BY no_of_comments DESC;

 * sqlite:///stockcm.db
Done.

[('Bullish', 33), ('Bearish', 16)]